@using Kendo.Mvc
@model IEnumerable<EmployeeApi.Models.Employee>

@{ ViewData["Title"] = "Index"; }

<head>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.2.714/styles/kendo.common.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.2.714/styles/kendo.default.min.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2016.2.714/js/kendo.all.min.js"></script>
</head>

<h1>Employees List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            <th class="actionsTh">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartingDate)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#grid").kendoGrid({
            height: 550,
            sortable: true
        });
    });
</script>

<style>
    .k-grid .k-alt {
        background-color: rgba(255, 255, 255, 0);
    }

    col.k-sorted, th.k-sorted {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .actionsTh {
        display: none;
    }
</style>






